{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./"
  },
  "minify": false,
  "exclude": [
    "node_modules",
    "test",
    "dist",
    "src/**/*.spec.ts",
    "src/**/*.int-spec.ts"
  ]
}
